/*Вкладка о себе*/

.about-container{
    padding-top: 50px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
    text-align: center;
}

.about-container h2{
    font-size: 48px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 60px;
}

.about-info{
    display:flex;
    margin-bottom: 150px;
}

.about-info p{
    font-size: 38px; /*Размер текста*/
    width: 700px;
    margin-right: auto;
}