/*Секция контактов*/

.contacts-container{
    padding-top: 50px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.logo-contacts{
    display: flex;
    align-items: center;
    padding-bottom: 110px;
}

.info-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    column-gap:calc(30%);
    font-size: 30px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.contact-text h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-text{
    margin-bottom: 30px;
    white-space: nowrap; /* Предотвращает перенос текста */
}

.logo-contacts img{
    padding-right: 0;
    display: block;
    margin-right: 25px;
    transition: all 500ms ease;
}

.logo-contacts img:hover{
    transform: scale(1.1);
}

.logo-contacts .logo-text h2{
    font-size: 24px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 10px;
}

.logo-contacts .logo-text p{
    font-size: 24px; /*Размер текста*/
}

.contacts-container h1{
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
    margin-bottom: 90px;
    text-align: center;
}

/*Вкладка о контактов*/

.container-contacts{
    padding-top: 30px; /*Отступ сверху*/
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
    text-align: center;
}

.container-contacts h2{
    font-size: 48px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 60px;
}

.contacts-info {
    display:flex;
    margin-bottom: 150px;
    margin-right: auto;
    justify-content: space-between; /*Распределит пространство между элементами */
    width: 100%; /* Занимает всю ширину родительского контейнера */
}

.contacts-info .pic-contacts { 
    margin-left: auto; /*Картинку вправо */
    width: 45%;
}

.contacts-text{
    width: 650px;
    text-align:left;
}

.contacts-info p{
    font-size: 34px; /*Размер текста*/
    margin-right: auto;
    padding-bottom: 55px;
}

.contacts-info img{
    padding-bottom: 55px;
    padding-right: 20px;
}