@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body { /*Шрифт и его цвет*/
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #ED8494; /*#DA627D*/
}

a { /*Стиль ссылок*/
    text-decoration: none; /*Что б не подчеркивались ссылки*/
}

img { /*Параметры картинки*/
    max-width: 100%;
}

/*Секция шапки*/

.wrapper { /*Цвет фона в области*/
    background: #FCEDDE; 
    width: 100%;
}


.wrapper2 {
    background: #FEF6EF;
    width: 100%;
}

.container { /*Контейнер для лого и навигации*/
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.logo-container { /*Контейнер для иконки и названия лого*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header { 
    padding: 20px 0; /*Внутренние отступы шапки*/
}

header .logo { /*Параметры лого*/
    /*text-transform: uppercase; (Большими буквами)*/
    font-size: 20px; /*Размер текста*/
    font-weight: 800; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
}

.logo-img { /*Параметры для картинки с логотипом*/
    padding-right: 0;
    display: block;
    width: 40px; /* Фиксированная ширина*/
    margin-right: 10px;
}

/*Секция панели навигации*/

header nav{  /*Панель навигации*/
    float: right; /*Позиция панели навигации справа*/
    width: 50%; /*Ширина панели навигации половина от шапки*/
}

header nav ul{ /*список в шапке навигации*/
    list-style: none; /*Убираем стандартное расположение списка*/
    display: flex; /*Элементы расположены через технологию расположения флекс бокс?*/
    justify-content: space-between; /*"Элементы будут расположены во всю ширину этого блока шапки*/

}

header nav ul li{ /*Каждый элемент это строчный блок для добавления отступов к элементам*/
    display: block; 
}

header nav ul li a{ /*Элементы навигации цвет текста*/
    color: #ED8494; 
    transition: all 500ms ease;
}

header nav ul li.active a { /*Активный элемент навигации (выделенная страничка)*/
    font-weight: 700; /* Жирный текст */
    color: #DA627D; /* Новый цвет */
}

/* header nav ul li.active::after{
    content: ''; /*в качестве текста ничего не пишем
    display: block;
    font-weight: 700; /* Жирный текст 
    color: #DA627D; /* Новый цвет 
}  */

header nav ul li:not(.active):not(.btn) a:hover { /*При наведении на элементы навигации (не активная вкладка и не кнопка)*/
    color: #DA627D; /* Новый цвет */
    /*border-bottom: 5px solid #DA627D; /* Подчеркивание (если нужно) */
}

header nav ul li.btn a,
 .pop_up_body .block .email .button2 { /*Кнопка входа и кнопка отправки восстановления пароля*/
    background: #DA627D;
    padding: 9px 20px;
    border-radius: 10px;
    color: #FCEDDE;
    transition: all 500ms ease;
    font-weight: 700;
}

header nav ul li.btn a:hover,
.pop_up_body .block .email .button2:hover { /*Кнопка входа при наведении*/
    background: #ED8494;
}

