@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body { /*Шрифт и его цвет*/
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #ED8494; /*#DA627D*/
}

a { /*Стиль ссылок*/
    text-decoration: none; /*Что б не подчеркивались ссылки*/
}

img { /*Параметры картинки*/
    max-width: 100%;
}

/*Секция шапки*/

.wrapper { /*Цвет фона в области*/
    background: #FCEDDE; 
    width: 100%;
}

.wrapper2 {
    background: #FEF6EF;
    width: 100%;
}

.container { /*Контейнер для лого и навигации*/
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.logo-container { /*Контейнер для иконки и названия лого*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header { 
    padding: 20px 0; /*Внутренние отступы шапки*/
}

header .logo { /*Параметры лого*/
    /*text-transform: uppercase; (Большими буквами)*/
    font-size: 20px; /*Размер текста*/
    font-weight: 800; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
}

.logo-img { /*Параметры для картинки с логотипом*/
    padding-right: 0;
    display: block;
    width: 40px; /* Фиксированная ширина*/
    margin-right: 10px;
}

/*Секция панели навигации*/

header nav{  /*Панель навигации*/
    float: right; /*Позиция панели навигации справа*/
    width: 50%; /*Ширина панели навигации половина от шапки*/
}

header nav ul{ /*список в шапке навигации*/
    list-style: none; /*Убираем стандартное расположение списка*/
    display: flex; /*Элементы расположены через технологию расположения флекс бокс?*/
    justify-content: space-between; /*"Элементы будут расположены во всю ширину этого блока шапки*/

}

header nav ul li{ /*Каждый элемент это строчный блок для добавления отступов к элементам*/
    display: block; 
}

header nav ul li a{ /*Элементы навигации цвет текста*/
    color: #ED8494; 
    transition: all 500ms ease;
}

header nav ul li.active a { /*Активный элемент навигации (выделенная страничка)*/
    font-weight: 700; /* Жирный текст */
    color: #DA627D; /* Новый цвет */
}

/* header nav ul li.active::after{
    content: ''; /*в качестве текста ничего не пишем
    display: block;
    font-weight: 700; /* Жирный текст 
    color: #DA627D; /* Новый цвет 
}  */

header nav ul li:not(.active):not(.btn) a:hover { /*При наведении на элементы навигации (не активная вкладка и не кнопка)*/
    color: #DA627D; /* Новый цвет */
    /*border-bottom: 5px solid #DA627D; /* Подчеркивание (если нужно) */
}

header nav ul li.btn a, .pop_up_body .block .button { /*Кнопка входа и кнопка отправки восстановления пароля*/
    background: #DA627D;
    padding: 9px 20px;
    border-radius: 10px;
    color: #FCEDDE;
    transition: all 500ms ease;
    font-weight: 700;
}

header nav ul li.btn a:hover, .pop_up_body .block .button:hover { /*Кнопка входа при наведении*/
    background: #ED8494;
}

.hero{ /*Отступ от шапки, секция для инфы и фотки*/
    padding-bottom: 100px;
    /*position: relative; свойство для абсолютного изображения
    z-index: 1 индекс для слоя, допустим это 1 а чем индекс выше тем слой выше нужно если изображение перекрывает панельку + добавить слой панельке
    + position: relative для панели навигации но мне это щас ни нада
    */
}

.hero--info { /*Секция для текста*/
    width: 530px; /*На этой ширене текст будет обрезаться (или переноситься хдд)*/
}

.hero--info h1{ /*Какой-то крутой огромный слоган*/
    color: #DA627D;
    font-size: 48px;
    font-weight: 700;
}

.hero--info p { /*Тексттекстекстекст под слоганом*/
    font-size: 38px;
    line-height: 170%;
    margin: 10px 0;
}

.hero--info .btn { /*Кнопка оформления заявки*/
    background: #DA627D;
    color: #FCEDDE;
    border-radius: 50px;
    border: 0; /*Уберем обводку*/
    padding: 25px 50px; /*Отступы 25 пикселей по высоте и 50 по горизонтали*/
    font-size: 34px;
    font-weight: 700;
    margin-top: 10px;
    transition: all 500ms ease;
}

.hero--info .btn:hover { /*Кнопка оформления заявки при нажатии*/
    cursor: pointer;
    transform: scale(1.1); /*Увеличиваем размер кнопки на 10%*/
    background:#ED8494;
}

.hero img { /*Картинка у слогана*/
    padding: 100px 0px;
    /* position: absolute; тут картинка делается абсолютной что бы она располагаласть относительно секции но у меня все улетает
    top: 0px;
    right: 0; */
}
/*pop-up всплывающее окно*/

.forms{
    display: flex; /* Используем flexbox для размещения столбцов */
    flex-wrap: wrap; /* Если нужно, чтобы столбцы переносились на новую строку */
    margin-bottom: 10px;
}

.form-column {
    flex: 1;  /* Занимает равную часть пространства по умолчанию */
    margin-right: 20px; /* Отступ между колонками */
    width: calc(50% - 10px);
}

.form-column input {
    width: 100%; /* Чтобы поля занимали всю ширину столбца */
    margin-bottom: 10px; /* Отступ между полями */
    padding: 17px 20px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    color:89909f;
    outline: none;
}

.form-column:last-child {
    margin-right: 0;  /* Убираем отступ у последнего столбца */
}

.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.pop_up.active {
    display: block;
    opacity: 1;
}

.pop_up_container{
   display:flex;
   width:100%;
   height:100%;
}

.pop_up_body{
    position: relative; /*потому что потом крестик с позицией absolute*/
    padding: 50px 25px 60px 25px;
    margin:auto;
    width:auto;
    background-color: #FEF6EF;
    border-radius:20px;
    text-align:center;
}

.pop_up_body p{
    color: #DA627D;
    font-size: 38px;
    font-weight: 700;
}

.pop_up_body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    color:89909f;
    font-family: 'Inter', sans-serif;
}

.pop_up_body input:focus{
    outline:none; /*убрать чёрную рамку при выделении*/
}

.pop_up_body button{
   cursor: pointer;
   display: block;
   width: 330px;
   margin:40px auto 0px auto;
   border: 0;
   color: #FEF6EF;
   border-radius:10px;
   background-color:#DA627D;
   transition: all 500ms ease;
   border-radius: 50px;
   padding: 25px 50px; /*Отступы 15 пикселей по высоте и 30 по горизонтали*/
   font-size: 25px;
   font-weight: 700;
}

.pop_up_body button:hover{
    background: #ED8494;
}

.pop_up_close{
  position: absolute;
  top: 15px;
  right:15px;
  font-size:21px;
  cursor:pointer;
}

.pop_up_body .block{
    background: #ED8494;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop_up_body .block h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
}

.pop_up_body .block p{
    color: #DA627D;
    font-size: 38px;
    font-weight: 700;
    width: 350px;
}

.pop_up_body .block input{
    background: #e5e5e5;
    outline: none;
    border-radius: 5px;
    border: 0;
    font-family: 'Inter', sans-serif;
    padding: 20px 30px;
    color: #DA627D;
    position: relative;
    right: -95px;
    z-index: 1;
    padding-right: 120px;
}

.pop_up_body .block input::placeholder{
    color: #ED8494;
}

.pop_up_body .block .button {
    border: 0;
    cursor: pointer;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
}


/*Вкладка отзывов*/
.container-reviews{ /*Секция с начинками*/
    padding-top: 50px; /*Отступ сверху*/
    padding-bottom: 100px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.container-reviews h2{ /*Заголовок начинок*/
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
}

.title-reviews{ /*Контейнер для заголовка начинок и кнопки*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px; /* Добавлен отступ снизу */
}

.cards-reviews { /*Контейнер для карточек*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; /*Отступы от карточек*/
}

.card-reviews { /* Стили карточки */
    background: url('../assets/images/CardToppings.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 35px 0px; /*Отступ сверху внутри карточки*/
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.block1{
    text-align: center;
    z-index: 2; /* Чтобы контент был поверх фона */
    position: relative; /* Для правильного позиционирования */
    
}

.block1 h5{
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    margin-right: 25px;
}

.block1 h4{ /*Вкладка отзывов*/
    margin-left: 25px; /*Отступ сбоку */
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 32px;
    font-weight: 400;
}

.block1 h6 {
    margin-left: 25px; /*Отступ сбоку */
    width: 350px; /*Текст переносится если превышает*/
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 36px;
    color:#DA627D;
    font-weight: 700;
    margin-top: 15px;
}

.block1 h3 {
    margin-left: 25px; /*Отступ сбокууу */
    width: 100px; /*Текст переносится если превышает*/
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 36px;
    color:#DA627D;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.block1 p {
    margin-left: 25px;
    width: 330px;
    text-align: left; /* Текст описания по левому краю */
    font-size: 30px;
    color:#ED8494;
    margin-bottom: 10px;
}

.container-reviews .btn{
    display: block; /* Делаем кнопку блочным элементом */
    margin: 35px auto 0; /* Отступ сверху 35px, auto по бокам (центрирование) */
    background: #DA627D;
    color: #FCEDDE;
    border-radius: 50px;
    border: 0; /*Уберем обводку*/
    padding: 25px 50px; /*Отступы 25 пикселей по высоте и 30 по горизонтали*/
    font-size: 34px;
    font-weight: 700;
    transition: all 500ms ease;
}

.container-reviews .btn:hover { /*Кнопка оформления заявки при нажатии*/
    cursor: pointer;
    transform: scale(1.1); /*Увеличиваем размер кнопки на 10%*/
    background: #ED8494;
}

.container-reviews .btn a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследует цвет текста от родителя (.btn) */
}

/*Начинки*/

.container-toppings{ /*Секция с начинками*/
    padding-top: 50px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.full{ /*Секция с начинками*/
    padding-bottom: 250px; /*Отступ сверху*/
}

.container-toppings h2{ /*Заголовок начинок*/
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
}

.container-toppings .see-all{ /*Кнопка посмотреть все начинки*/
    color: #FCEDDE;
    background: #DA627D;
    padding: 12px 23px;
    border-radius: 10px;
    transition: all 500ms ease;
    font-weight: 700;

    float: right;
    display: block;
}

.container-toppings .see-all:hover { /*Кнопка просомтра начинок при наведении*/
    background: #ED8494;
}

.title-toppings{ /*Контейнер для заголовка начинок и кнопки*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px; /* Добавлен отступ снизу */
}

.cards-toppings { /*Контейнер для карточек*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; /*Отступы от карточек*/
}

.card-topping { /* Стили карточки */
    background: url('../assets/images/CardToppings.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 35px 0px; /*Отступ сверху внутри карточки*/
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.block{
    text-align: center;
    z-index: 2; /* Чтобы контент был поверх фона */
    position: relative; /* Для правильного позиционирования */
    
}

.block img{
    width: calc(100% - 50px); /* 100% ширины минус 25px с каждой стороны */
    object-fit: contain; /*Картинка масштабируется, чтобы целиком уместиться в заданные размеры с соблюдением пропорций.*/
}

.block h3 {
    margin-left: 25px; /*Отступ сбокууу */
    width: 100px; /*Текст переносится если превышает*/
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 36px;
    color:#DA627D;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.block p {
    margin-left: 25px;
    width: 330px;
    text-align: left; /* Текст описания по левому краю */
    font-size: 32px;
    color:#ED8494;
    margin-bottom: 10px;
}

.toppings-text p { /* Текст внизу страницы начинок*/
    color: #ED8494;
    font-size: 36px;
    margin-top: 30px;
}


/*Карточка предложения*/

.card-offer {
    background: url('../assets/images/CardOffer.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px; /*Отступ сверху внутри карточки*/
    border-radius: 25px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 140px 0;
}

.offer-content { /*Контейнер для карточки и текста предложения*/
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две равные колонки */ 
    gap: 70px; /*Отступы от карточек*/
}

.offer-content img{
    width: 100%; /* 100% ширины*/
    object-fit: contain; /*Картинка масштабируется, чтобы целиком уместиться в заданные размеры с соблюдением пропорций.*/
    height: 100%; /* Занимает всю высоту колонки */
    object-position: left bottom; /* Выравнивание по низу */
}

.text-offer{
    display: flex;
    flex-direction: column;
    height: 100%; /* Занимает всю высоту */
    justify-content: space-between; /* Равномерное распределение пространства */
}

.text-offer h3{
    color: #DA627D;
    font-weight: 700;
    font-size: 40px;
    width: calc(80%);
}

.text-offer p{
    margin-top: 15px;
    font-size: 38px;
    height: 100%; /* Занимает всю высоту */
    justify-content: space-between; /* Равномерное распределение пространства */
    margin-top: 5%;
    margin-bottom: auto; /* Автоматический отступ для прижатия кнопки вниз */
}

.text-offer .btn{
    background: #DA627D;
    color: #FCEDDE;
    border-radius: 60px;
    border: 0; /*Уберем обводку*/
    padding: 25px 100px; /*Отступы 25 пикселей по высоте и 50 по горизонтали*/
    font-size: 38px;
    font-weight: 700;
    align-self: flex-start;
    transition: all 500ms ease;
    width: 100%;
    height: 30%;
}

.text-offer .btn:hover{
    background: #ED8494;
}

.text-offer .btn a {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

/*Отзывы*/
.statistic-container{
    padding: 100px 20px 150px;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.statistic-container h1{
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
    margin-bottom: 60px;
}


.card-statistic {
    background: url('../assets/images/CardStatistics.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px 0px;
    border-radius: 25px;
    position: relative;
    z-index: 1;

    display: flex;
    margin-bottom: 60px;
}

.pic-user img{
    min-width: 400px;
}

.pic-user {
    padding: 0px 60px;
}

.text-statistic{
    max-width: 100%;
}

.text-statistic h2{
    font-size: 48px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 10px;
}
.text-statistic p{
    font-size: 36px; /*Размер текста*/
    width: 80%;
}

.pic-user h3{
    font-size: 36px; /*Размер текста*/
    color: #DA627D;
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    margin-top: 25px;
}

.pic-user p{
    font-size: 32px; /*Размер текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
}


/*Тортики*/


.container-cakes{
    padding-top: 100px; 
    padding-bottom: 150px;
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.container-cakes h1{
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
    margin-bottom: 60px;
}

.cards-cakes { /*Контейнер для карточек*/
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px; /*Отступы от карточек*/
}

.card-cake{
    background: url('../assets/images/CardCakes.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0px; /*Отступ сверху внутри карточки*/
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.cake img{
    width: calc(100% - 60px); /* 100% ширины минус 30px с каждой стороны */
    object-fit: contain; /*Картинка масштабируется, чтобы целиком уместиться в заданные размеры с соблюдением пропорций.*/
}

.cake .btn{
    background: #DA627D;
    color: #FCEDDE;
    border-radius: 25px;
    border: 0; /*Уберем обводку*/
    padding: 10px calc(22%); /*Отступы 15 пикселей по высоте и 30 по горизонтали*/
    font-size: 34px;
    font-weight: 700;
    margin-top: 20px;
    transition: all 500ms ease;
}

.cake .btn:hover { /*Кнопка оформления заявки при нажатии*/
    background: #ED8494;
}


.cake h3 {
    margin-left: 30px; /*Отступ сбокууу */
}

.cake p {
    margin-left: 30px;
    width: 300px;
    margin-bottom: 10px;
}



/*Секция контактов*/

.contacts-container{
    padding-top: 50px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.logo-contacts{
    display: flex;
    align-items: center;
    padding-bottom: 110px;
}

.info-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    column-gap:calc(30%);
    font-size: 30px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.contact-text h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-text{
    margin-bottom: 30px;
    white-space: nowrap; /* Предотвращает перенос текста */
}

.logo-contacts img{
    padding-right: 0;
    display: block;
    margin-right: 25px;
    transition: all 500ms ease;
}

.logo-contacts img:hover{
    transform: scale(1.1);
}

.logo-contacts .logo-text h2{
    font-size: 24px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 10px;
}

.logo-contacts .logo-text p{
    font-size: 24px; /*Размер текста*/
}

.contacts-container h1{
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
    margin-bottom: 90px;
    text-align: center;
}

/*Вкладка о контактов*/

.container-contacts{
    padding-top: 30px; /*Отступ сверху*/
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
    text-align: center;
}

.container-contacts h2{
    font-size: 48px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 60px;
}

.contacts-info {
    display:flex;
    margin-bottom: 150px;
    margin-right: auto;
    justify-content: space-between; /*Распределит пространство между элементами */
    width: 100%; /* Занимает всю ширину родительского контейнера */
}

.contacts-info .pic-contacts { 
    margin-left: auto; /*Картинку вправо */
    width: 45%;
}

.contacts-text{
    width: 650px;
    text-align:left;
}

.contacts-info p{
    font-size: 34px; /*Размер текста*/
    margin-right: auto;
    padding-bottom: 55px;
}

.contacts-info img{
    padding-bottom: 55px;
    padding-right: 20px;
}

/*Вкладка о себе*/

.about-container{
    padding-top: 50px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
    text-align: center;
}

.about-container h2{
    font-size: 48px; /*Размер текста*/
    font-weight: 700; /*Жирность текста*/
    white-space: nowrap; /* Предотвращает перенос текста */
    color: #DA627D;
    margin-bottom: 60px;
}

.about-info{
    display:flex;
    margin-bottom: 150px;
}

.about-info p{
    font-size: 38px; /*Размер текста*/
    width: 700px;
    margin-right: auto;
}

/*Вкладка регистрации*/
.wrapper3{
    padding: 70px 0;
    background: #DA627D;
}
.container-registration {
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.container-registration h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #FCEDDE;
}

.container-registration p{
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    color: #fcedde;
}

.container-registration form{
    margin: 80px auto;
    width:600px;
}

.container-registration form .inline{
    display: flex;
    justify-content: space-between;
}

.container-registration form .inline > div{
    width: 50%;
}

.container-registration form label{
    color:#fcedde;
    font-size: 18px;
}

.container-registration form input,
.container-registration form textarea{
    background: #fcedde;
    border-radius: 10px;
    border: 3px solid #e9a8b2;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #DA627D;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.container-registration form .one-line{
    width: 95%;
    margin-bottom: 20px;
}

.container-registration form button{
    cursor: pointer;
    display: block;
    width: 450px;
    margin: 60px auto 0px auto;
    border: 0;
    color: #ED8494;
    border-radius:10px;
    background-color:#fcedde;
    transition: all 500ms ease;
    border-radius: 50px;
    padding: 25px 50px; /*Отступы 25 пикселей по высоте и 50 по горизонтали*/
    font-size: 25px;
    font-weight: 700;
    align-self: flex-start;
}

.container-registration form button:hover{
    background: #ED8494;
    color: #fcedde;
}

.container-registration a{
    text-decoration: none;
    color: #FCEDDE;
    font-size: 16px;
    cursor: pointer;
}

.container-registration a:hover{
    text-decoration: underline solid #FCEDDE 2px;
}

 .no-login {
    display: block;
    text-align: center;
    margin: 15px auto 0; /* Уменьшаем верхний отступ и убираем нижний */
    width: fit-content;
    color: #FCEDDE;
    text-decoration: none;
    position: relative;
}

.no-login:hover {
    text-decoration: underline solid #FCEDDE 2px;
}
