
.cards-reviews { /*Контейнер для карточек*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; /*Отступы от карточек*/
}

.card-reviews { /* Стили карточки */
    background: url('../assets/images/CardToppings.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 35px 0px; /*Отступ сверху внутри карточки*/
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.block1{
    text-align: center;
    z-index: 2; /* Чтобы контент был поверх фона */
    position: relative; /* Для правильного позиционирования */
    
}

.block1 h5{
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    margin-right: 25px;
}

.block1 h4{ /*Вкладка отзывов*/
    margin-left: 25px; /*Отступ сбоку */
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 32px;
    font-weight: 400;
}

.block1 h6 {
    margin-left: 25px; /*Отступ сбоку */
    width: 350px; /*Текст переносится если превышает*/
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 36px;
    color:#DA627D;
    font-weight: 700;
    margin-top: 15px;
}

.block1 h3 {
    margin-left: 25px; /*Отступ сбокууу */
    width: 100px; /*Текст переносится если превышает*/
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 36px;
    color:#DA627D;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.block1 p {
    margin-left: 25px;
    width: 330px;
    text-align: left; /* Текст описания по левому краю */
    font-size: 30px;
    color:#ED8494;
    margin-bottom: 10px;
}

.container-reviews .btn{
    display: block; /* Делаем кнопку блочным элементом */
    margin: 35px auto 0; /* Отступ сверху 35px, auto по бокам (центрирование) */
    background: #DA627D;
    color: #FCEDDE;
    border-radius: 50px;
    border: 0; /*Уберем обводку*/
    padding: 25px 50px; /*Отступы 25 пикселей по высоте и 30 по горизонтали*/
    font-size: 34px;
    font-weight: 700;
    transition: all 500ms ease;
}

.container-reviews .btn:hover { /*Кнопка оформления заявки при нажатии*/
    cursor: pointer;
    transform: scale(1.1); /*Увеличиваем размер кнопки на 10%*/
    background: #ED8494;
}

.container-reviews .btn a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследует цвет текста от родителя (.btn) */
}

/*Вкладка отзывов*/
.container-reviews{ /*Секция с начинками*/
    padding-top: 50px; /*Отступ сверху*/
    padding-bottom: 100px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.container-reviews h2{ /*Заголовок начинок*/
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
}

.title-reviews{ /*Контейнер для заголовка начинок и кнопки*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px; /* Добавлен отступ снизу */
}