.hero{ /*Отступ от шапки, секция для инфы и фотки*/
    padding-bottom: 100px;
    /*position: relative; свойство для абсолютного изображения
    z-index: 1 индекс для слоя, допустим это 1 а чем индекс выше тем слой выше нужно если изображение перекрывает панельку + добавить слой панельке
    + position: relative для панели навигации но мне это щас ни нада
    */
}

.hero--info { /*Секция для текста*/
    width: 530px; /*На этой ширене текст будет обрезаться (или переноситься хдд)*/
}

.hero--info h1{ /*Какой-то крутой огромный слоган*/
    color: #DA627D;
    font-size: 48px;
    font-weight: 700;
}

.hero--info p { /*Тексттекстекстекст под слоганом*/
    font-size: 38px;
    line-height: 170%;
    margin: 10px 0;
}

.hero--info .btn { /*Кнопка оформления заявки*/
    background: #DA627D;
    color: #FCEDDE;
    border-radius: 50px;
    border: 0; /*Уберем обводку*/
    padding: 25px 50px; /*Отступы 25 пикселей по высоте и 50 по горизонтали*/
    font-size: 34px;
    font-weight: 700;
    margin-top: 10px;
    transition: all 500ms ease;
}

.hero--info .btn:hover { /*Кнопка оформления заявки при нажатии*/
    cursor: pointer;
    transform: scale(1.1); /*Увеличиваем размер кнопки на 10%*/
    background: #ED8494;
}

.hero img { /*Картинка у слогана*/
    padding: 100px 0px;
    /* position: absolute; тут картинка делается абсолютной что бы она располагаласть относительно секции но у меня все улетает
    top: 0px;
    right: 0; */
}