/*Начинки*/

.container-toppings{ /*Секция с начинками*/
    padding-top: 50px; /*Отступ сверху*/
    justify-content: space-between;
    align-items: center;
    width: 1440px; /*Ширина контейнера*/
    margin: 0 auto; /*Блок располагается по центру и имеет определенные отступы?*/
}

.full{ /*Секция с начинками*/
    padding-bottom: 250px; /*Отступ сверху*/
}

.container-toppings h2{ /*Заголовок начинок*/
    font-weight: 700;
    font-size: 48px;
    color: #DA627D;
}

.container-toppings .see-all{ /*Кнопка посмотреть все начинки*/
    color: #FCEDDE;
    background: #DA627D;
    padding: 12px 23px;
    border-radius: 10px;
    transition: all 500ms ease;
    font-weight: 700;

    float: right;
    display: block;
}

.container-toppings .see-all:hover { /*Кнопка просомтра начинок при наведении*/
    background: #ED8494;
}

.title-toppings{ /*Контейнер для заголовка начинок и кнопки*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px; /* Добавлен отступ снизу */
}

.cards-toppings { /*Контейнер для карточек*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; /*Отступы от карточек*/
}

.card-topping { /* Стили карточки */
    background: url('../assets/images/CardToppings.svg');
    background-size: cover; /* Чтобы фоновая картинка заполняла всю карточку */
    background-position: center;
    background-repeat: no-repeat;
    padding: 35px 0px; /*Отступ сверху внутри карточки*/
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.block{
    text-align: center;
    z-index: 2; /* Чтобы контент был поверх фона */
    position: relative; /* Для правильного позиционирования */
    
}

.block img{
    width: calc(100% - 50px); /* 100% ширины минус 25px с каждой стороны */
    object-fit: contain; /*Картинка масштабируется, чтобы целиком уместиться в заданные размеры с соблюдением пропорций.*/
}

.block h3 {
    margin-left: 25px; /*Отступ сбокууу */
    width: 100px; /*Текст переносится если превышает*/
    text-align: left; /* Текст заголовка по левому краю */
    font-size: 36px;
    color:#DA627D;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.block p {
    margin-left: 25px;
    width: 330px;
    text-align: left; /* Текст описания по левому краю */
    font-size: 32px;
    color:#ED8494;
    margin-bottom: 10px;
}

.toppings-text p { /* Текст внизу страницы начинок*/
    color: #ED8494;
    font-size: 36px;
    margin-top: 30px;
}

/* .block h4 {
    margin-left: 25px;
    width: 300px;
    text-align: left; /* Текст описания по левому краю
    font-size: 32px;
    color:#ED8494;
    margin-bottom: 10px;
    font-weight: 400;
} 
*/